/* Country.css */

.weather-forecast {
    display: flex;
    gap: 10px; 
    overflow-x: auto; 
    margin-bottom: 120px;
  }
  
  .day-forecast {
    background-color: #f9f9f9; 
    border-radius: 8px; 
    padding: 10px; 
    min-width: 120px; 
    text-align: center; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  .weather-text {
    font-size: 13px;
  }


  .clothes-recommendation {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
  
  .clothes-category {
    background: #dcdcdc;
    border-radius: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 250px;
  }
  
  .clothes-category h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .clothes-items {
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: 24px;
  }
  
  .clothes-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  