/* src/components2/Sidebar.css */

.header-layout {
  display: grid;
  grid-template-columns: 200px 1fr; 
  grid-template-rows: auto 1fr; 
  grid-template-areas:
    "header-top header-top"
    "left-sidebar main-content";
  height: 100vh;
}

.header-top {
  grid-area: header-top;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 40px;  
  position: relative;
}

.title {
  font-size: 35px;
  font-weight: bold;
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  margin: 0;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  margin-top: 25px;
}

.sidebar-item {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin-bottom: 50px;
  position: relative;
}

.sidebar-item:hover {
  font-weight: bold;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  padding-left: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-item {
  font-size: 16px;
  color: black;
  text-decoration: none;
  margin-top: 5px;
  padding-left: 10px;
}

.dropdown-item:hover {
  font-weight: bold;
}

.sidebar-icon {
  margin-right: 8px;
  font-size: 24px;
  transition: transform 4s ease-in-out, font-size 4s ease-in-out, color 4s ease-in-out; 
}

.flying {
  font-size: 300px; 
  transform: translateX(100vw) translateY(-50%); 
  position: fixed; 
  top: 50%;
  left: 0;
  z-index: 999; 
  color: rgb(0, 0, 245); 
  animation: flyAnimation 3s forwards; 
}


/* 애니메이션 keyframes 정의 */
@keyframes flyAnimation {
  0% {
      transform: translateX(0) translateY(0);
  }
  100% {
      transform: translateX(100vw) translateY(-50%);
  }
}


