.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label {
  margin-top: 15px;
  font-size: 26px; /* 글자 크기를 키우기 */
}

.login-form input {
  padding: 20px; /* 기존보다 여유롭게 */
  margin-top: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px; /* 글자 크기 키우기 */
  width: 100%; /* 폼 너비를 부모 컨테이너에 맞게 설정 */
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* 버튼 위 여백 조절 */
}

.login-button,
.google-login-button {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%; /* 버튼 너비를 절반으로 조정 */
}

.login-button {
  background-color: #333;
  color: white;
}

.google-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4285F4;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.google-icon {
  margin-right: 8px; /* 아이콘과 텍스트 간의 간격 */
  font-size: 20px; /* 아이콘 크기 */
}

.google-login-button:hover {
  background-color: #357ae8; /* hover 시 조금 어두운 색상으로 변경 */
}

.login-button:hover {
  background-color: #555;
}

.forgot-password {
  margin-top: 20px;
  font-size: 20px;
  color: #555;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-start; /* 왼쪽 정렬 */
}

.forgot-password:hover {
  color: #333;
}
