.weather-box {
    position: absolute; /* 상단에 고정하기 위해 position 속성 사용 */
    top: 120px; /* 페이지 최상단에서 20px 아래에 위치하도록 설정 */
    left: 50%;
    transform: translateX(-50%); /* 중앙 정렬 */
    background: #ffffff; /* 배경색 설정 */
    width: 30%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    z-index: 1000; /* 헤더나 다른 요소들 위에 위치할 수 있도록 z-index 설정 */
  }

.location-box {
    margin-left: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .location-text {
    margin-left: 5px;
    font-size: 20px;
  }
  
  .temperature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;;
  }
  
  .weather-condition-box {
    margin-left: 34%;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .weather-icon {
    width: 60px;
    height: 40px;
    margin-right: 10px;
  }
  
  .weather-text {
    font-size: 15px;
  }
  
  .current-date {
    font-size: 0.9rem;
    color: #666; /* 약간의 회색으로 날짜 표시 */
    margin-top: 4px; /* 위치 정보와 날짜 사이의 간격 */
    text-align: center;
  }

  .buttons-container {
    display: flex;
    gap: 15px; /* Adjust the spacing between buttons */
    justify-content: center; /* Center the buttons within the container */
    margin-top: 10px; /* Add some margin above the buttons */
  }
  